################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/mapadmin/.vs/MapAdmin/v14/.suo
