[submodule "src/xz"]
	path = src/ml/xz
	url = http://git.tukaani.org/xz.git
[submodule "src/ml/libarchive"]
	path = src/ml/libarchive
	url = http://github.com/libarchive/libarchive.git
[submodule "src/ml/bdwgc"]
	path = src/ml/bdwgc
	url = https://github.com/ivmai/bdwgc.git
