################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/mapadmin/.vs/MapAdmin/v14/.suo
/src/ml/.vs/ml/v14/.suo
*.res
*.iobj
*.ipdb
*.opendb
*.ilk
*.exp
*.obj
*.pch
*.pdb
*.idb
*.log
*.tlog
*.o
*.lo
*.la
*.so
*.so.*
*.Po
*.Plo
